/* ---------- Standard Element Formatting ----------*/

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

header {
    width: 100vw;
    height: 80px;
}

main {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 0;
    height: 1.5em;
    width: 100vw;
    background-color: darkgrey;
    color: white;
}

/*---------- Nav Bar Styling ----------*/

nav a {
    white-space: pre;
}

.main_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: inherit;
    height: 70px;
    padding: 5px 0px;
    background-color: rgb(214, 212, 212);
}

.left_main_bar {

    display: flex;
    position: relative;
    height: inherit;
    margin: 0 8px;
    column-gap: 25px;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 8;
}

.register_block {
    display: flex;
    position: relative;
    margin: 0 2.5vw 0 0;
    column-gap: 10px;
    justify-content: space-between;
}

nav .logo {
    /*transform: scale(0.7);*/
    height: 70px;
}

.search_function {
    width: 200px;
}

.search_function * {
    width: inherit;
}

/*---------- Sign-in page formatting ----------*/

.sign_in_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 250px;
    height: 430px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5%;
}

.sign_in {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_block {
    display: flex;
    flex-direction: column;
    width: 170px;
    margin: 10px;
}

/*---------- Product page formatting -----------*/
.product_block {
    display: flex;
    position: relative;
    bottom:80px;
    margin: 10vw;
    width: 80vw;
    justify-content: space-between;
    text-align: center;
    font-size: 1.2vw;
}

.product_block a:hover{
    transform: scale(1.25);
}
.product_block a{
    text-decoration: none;
}
.product {
    width: 15vw;
    height: 15vw;
    background-color: rgb(214, 212, 212);
    border-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_img {
    width: 9vw;
    padding: 2.5vw;
}